.menu-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    /* position: absolute; */
    width: 320px;
    height: auto;
    /* left: 20px;
    top: 20px; */
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0px;

    width: 320px;
    height: auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 16px;

    width: auto;
    height: 36px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.menu-item .icon {
    width: 24px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu-item .text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: auto;
    height: 24px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;

    color: #333333;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.menu-item:hover .icon, .menu-item:hover .text {
    color:#01959F;
}