.task-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 326px;
    height: 372px;
    border: 1px solid;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.label {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2px 8px;
    width: 88px;
    height: 24px;
    border: 1px solid;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.label .text {
    width: 72px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desc {
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    flex: none;
    order: 1;
    flex-grow: 0;
}