@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html, body {
  background-color: #FFFFFF !important;
  color: #1D1F20 !important;
  font-family: 'Nunito Sans', sans-serif !important;
}
